

vapid:
  keys:
    public: BF8QQIULasLr94n0l0xbv43yZeNICudM5lpQN08VYn2g5VjBPU0wM98HypyRmEb-y0ARRsiZ_wcgSMIC-nq-x20
    private: ${VAPID_PRIVATE_KEY}



cors:
  allowed-origins:
    - "http://localhost:5173"
    - "http://localhost:5174"
    - "https://pinit.go-gradually.me"
  allowed-methods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - OPTIONS
  allowed-headers:
    - "*"
  allow-credentials: true
  max-age: 3600
